@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff9100;
}

/* Handle */


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9100;
  
}
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-categories {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.post-category {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
